
*.gz
alphafold_structures_manifest_full.csv
split_manifest_command.sh
check_dirs.sh
run_alphacognate_pipeline.sh
make_individual_manifests.py
app/.venv
app/credentials/pg_db_pass.txt
*.pyc
/app/backend/.venv
app/cif-files/.DS_Store
.DS_Store
/app/cif-files
